dn: ou=users,dc=carlosftp,dc=com
objectClass: top
objectClass: organizationalUnit
ou: users

# Usuario: Daniel
dn: uid=daniel,ou=users,dc=carlosftp,dc=com
objectClass: inetOrgPerson
objectClass: posixAccount
cn: daniel
sn: Perez
uid: daniel
mail: daniel@carlosftp.com
userPassword: daniel
uidNumber: 1001
gidNumber: 1001
homeDirectory: /home/ftp/
loginShell: /bin/bash

# Usuario: Alejandro
dn: uid=alejandro,ou=users,dc=carlosftp,dc=com
objectClass: inetOrgPerson
objectClass: posixAccount
cn: alejandro
sn: Garcia
uid: alejandro
mail: alejandro@carlosftp.com
userPassword: alejandro
uidNumber: 1002
gidNumber: 1002
homeDirectory: /home/ftp/
loginShell: /bin/bash
