auth required pam_mysql.so user=root passwd=my_passwd host=mysql-service db=mi_basedatos table=users usercolumn=nombre passwdcolumn=password crypt=1
account required pam_mysql.so user=root passwd=my_passwd host=mysql-service db=mi_basedatos table=users usercolumn=nombre passwdcolumn=password crypt=1
